@font-face {
  font-family: "Feeling Passionate";
  src: url("./assets/fonts/Feeling Passionate.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: url("./assets/flowerBG.jpg") repeat fixed center / cover;
}

main {
}

section {
  height: 100vh;
  height: 150dvh;
}
